.page-banner {
  background-image: url(../images/page-banner.jpg);
  background-size: cover;
  background-position: center;
}

.page-banner-content p {
  color: #B9BABE;
}

.page-banner-content p a {
  color: #B9BABE;
}

.page-banner-content {
  padding-top: 150px;
  padding-bottom: 100px;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
}

.page-banner-content h1 {
  font-size: 40px;
}

.why-choose-us {
  background-size: cover;
  background-position: center;
}

.why-choose-us-content .section-title > p {
  margin: 20px 0;
}

.featured-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featured-list-content {
  margin-left: 15px;
}

.why-choose-us-content {
  margin-right: 80px;
}

.team-item img {
  width: 100%;
}

.team-item {
  border: 1px solid #582D11;
  padding: 17px;
}

.team-content h4 {
  font-size: 30px;
  margin-bottom: 0;
}

.team-content p {
  font-size: 20px;
  margin-bottom: 10px;
}

.team-content {
  margin-top: 30px;
}

.team-social a {
  color: #fff;
  font-size: 20px;
  border: 1px solid #746D67;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 50px;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.team-item {
  transition: 0.3s;
}

.team-item:hover {
  background-color: #1F160E;
  border-color: #F37E36;
}

section.team-section {
  background-image: linear-gradient(45deg, black, #130A00);
}

.team-social a {
  transition: 0.3s;
}

.team-social a:hover {
  background-color: #F48531;
  border-color: #F48531;
}

.team-item {
  margin-bottom: 25px;
}

.contact-form-wrapper {
  background-color: #0C0C0C;
  padding: 70px 120px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group textarea {
  height: 150px;
}

.page-banner-content h1 {
  line-height: 1.6;
}

.blog-details-content p, .blog-details-content ol li, .blog-details-content ul li {
  font-size: 20px;
}

.blog-details-content p {
  margin-bottom: 35px;
}

.blog-details-content ol li, .blog-details-content ul li {margin-bottom: 20px;}

.blog-details-content h3 {
  margin-bottom: 30px;
  margin-top: 62px!important;
}

.share-icons {
  display: flex;
  gap: 13px;
}

.share-icons a {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #fff;
}

.blog-share {
  margin-top: 50px;
}

.share-icons a:hover {
  background-color: #F59D1E;
  border-color: #F59D1E;
}

.header-mobile {
  display: none;
} 

.signal-item {
  background-image: linear-gradient(45deg, #292621, #3A2918);
  border: 1px solid #949290;
}

section.signal-section {
  background-size: cover;
  background-position: center;
}

.data-row {
  padding: 0 20px;
  font-size: 20px;
}

.blur-bg {
  background-image: linear-gradient(90deg, #2B2723, #3D3833);
  padding: 20px 20px;
}

.data-row span {
  font-weight: 500;
}

.data-row.orange-bg {
  background-color: #A96A0C;
  padding: 20px;
  margin: 27px 0;
}

.data-row span {
  line-height: 20px;
}

.signal-item div:first-child {
  margin-bottom: 15px;
}

.signal-item div:last-child {
  margin-top: 20px;
}

.lock-thumb {
  margin: 50px 0;
}