/*font Variables*/

$primary-font: 'Sharp Grotesk Book 20', sans-serif;
$title-font: 'Sharp Grotesk Medium 20', sans-serif;
$sharp-semi-bold: 'Sharp Grotesk SemiBold 20';
$font-inter: 'Inter', sans-serif;


/*Color Variables*/
$title-color: #fff;
$text-color: #fff;
$primary-color: #F47E37;
$secondary-color: #F7C301;
$white: #ffffff;
$background-color: #000000;