/*font Variables*/

$primary-font: "Poppins", sans-serif;
$title-font: "Poppins", sans-serif;
$sharp-semi-bold: "Poppins", sans-serif;
$font-inter: "Poppins", sans-serif;


/*Color Variables*/
$title-color: #fff;
$text-color: #fff;
$primary-color: #F47E37;
$secondary-color: #F7C301;
$subtitle-color: #F5FFCC;
$gradient-color: linear-gradient(45deg, #F7C301, #F47E37);
$white: #ffffff;
$background-color: #000000;