/*font Variables*/

$primary-font: 'Sharp Grotesk Book 20', sans-serif;
$title-font: 'Sharp Grotesk Medium 20', sans-serif;
$sharp-semi-bold: 'Sharp Grotesk SemiBold 20';
$font-inter: 'Inter', sans-serif;


/*Color Variables*/
$title-color: #101011;
$text-color: #3D3D3E;
$primary-color: #1CD592;
$primary-color2: #2683ED;
$white: #ffffff;